{% include header.html %}

<article>
    <div class="container">
        <h2 class="title">{{ title }}</h2>
            <p>{{ content }}</p>
        <!-- <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="content-wrap">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <h2 class="title">{{ title }}</h2>
                                <p>{{ content }}</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <img class="img-responsive" src="{{ featured_image }}" title="{{ title }}">
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</article>

{% include footer.html %}